@font-face {  
    font-family: 'ac';
    src: url('Ac.ttf');
}
@font-face {  
    font-family: 'acsafe';
    src: url('ASafePlacetoFall.ttf');
}
@font-face {  
    font-family: 'indieflower';
    src: url('IndieFlower-Regular.ttf');
}
@font-face {  
    font-family: 'itc';
    src: url('TEMPSITC.TTF');
}
@font-face {  
    font-family: 'playboy';
    src: url('naughty-lite-2.ttf');
}
